html {
    height: 100vh;
    padding: 0;
    margin: 0;
}


/*------------------MOBILE---------------------------*/


@media only screen and (max-width: 425px) {
    
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-image: url("images/food-salad-healthy-lunch.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
/* --------------HEADER/NAV BAR--------------------*/

    .header {
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-rows: 5rem;
        background-color: black;
        margin: 0;
    }

    .name_div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
      
    }

    .rest_name {
        color: white;
        font-family: "Cinzel Decorative", cursive;
        font-size: 1.2rem;
        padding-left: 10px;
    }
    .menu_container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 5%;
    }

    .menu { 
        font-family: "Cinzel Decorative", cursive;
        font-size: 1rem;
        font-weight: 800;
        height: 4rem;
        width: 6rem;
    }
/*---------------HEADER END--------------------*/

    .wrapper {
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main {
        text-align: center;
    }

    .generic_text {
        font-family: "IM Fell English SC", serif;
        color: white;
        font-weight: 500;
        line-height: 2.5rem;
        font-size: 1.8rem;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        background-color: black;
        opacity: 0.8;
        margin: 25% 5% 0 5%;
        padding: 5px;
    }

    .footer {
        display: grid;
        grid-template-rows: 2fr 10%;
        margin-top: 25%;
    }

    .footer_div {
        display: flex;
        justify-content: space-evenly;
        
    }

    .butt_bottom {
        font-size: 1rem;
        font-weight: 700;
        height: 3.5rem;
        width: 6rem;
        font-family: "Cinzel Decorative", cursive;
    }

    .hours {
        text-align: center;
        color: white;
        background: black;
        opacity: 0.8;
        padding: 5px;
        margin: 5rem 5% 0 5%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300; 
        font-size: 0.8rem;
        
    }
    
    button:hover {
        background-color: black;
        color: white;
        transition-delay: 75ms;
        cursor: pointer;
    }

}

/*--------------------MOBILE END---------------------------*/


/*------------------TABLET---------------------------*/


@media only screen and (min-width: 767px) and (max-width: 1025px) {
    
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-image: url("images/food-salad-healthy-lunch.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
/* --------------HEADER/NAV BAR--------------------*/

    .header {
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-rows: 5rem;
        background-color: black;
        margin: 0;
    }

    .name_div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
      
    }

    .rest_name {
        color: white;
        font-family: "Cinzel Decorative", cursive;
        font-size: 1.2rem;
        padding-left: 10px;
    }
    .menu_container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 5%;
    }

    .menu { 
        font-family: "Cinzel Decorative", cursive;
        font-size: 1rem;
        font-weight: 800;
        height: 4rem;
        width: 6rem;
    }
/*---------------HEADER END--------------------*/

    .wrapper {
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main {
        text-align: center;
    }

    .generic_text {
        font-family: "IM Fell English SC", serif;
        color: white;
        font-weight: 500;
        line-height: 2.5rem;
        font-size: 1.8rem;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        background-color: black;
        opacity: 0.8;
        margin: 25% 5% 0 5%;
        padding: 5px;
    }

    .footer {
        display: grid;
        grid-template-rows: 2fr 10%;
        margin-top: 25%;
    }

    .footer_div {
        display: flex;
        justify-content: space-evenly;
        
    }

    .butt_bottom {
        font-size: 1rem;
        font-weight: 700;
        height: 3.5rem;
        width: 6rem;
        font-family: "Cinzel Decorative", cursive;
    }

    .hours {
        text-align: center;
        color: white;
        background: black;
        opacity: 0.8;
        padding: 5px;
        margin: 5rem 5% 0 5%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300; 
        font-size: 0.8rem;
        
    }
    
    button:hover {
        background-color: black;
        color: white;
        transition-delay: 75ms;
        cursor: pointer;
    }

}

/*--------------------TABLET END---------------------------*/




/* --------------HEADER/NAV BAR DESKTOP--------------------*/

@media only screen and (min-width: 1026px) {

    body {
        margin: 0;
        padding: 0;
        height: calc(100vh-10px);
        background-image: url("images/food-salad-healthy-lunch.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 55%;
    }

    .header {
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-rows: 3.8rem;
        background-color: black;
        margin: 0;
        top: 0px;
        border-bottom: 0.2rem solid slategray;
        
    }

    .name_div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding-left: 2%;
      
    }

    .rest_name {
        color: white;
        font-family: "Cinzel Decorative", cursive;
        font-size: 1.2rem;
        padding-left: 10px;
    }
    .menu_container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 5%;
    }

    .menu { 
        font-family: "Cinzel Decorative", cursive;
        font-size: 1.3rem;
        font-weight: 600;
        height: 3.2rem;
        width: 6rem;
        background-color: lightgrey;
    }
/*---------------HEADER END--------------------*/

    .wrapper {
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    .generic_text {
        font-family: "IM Fell English SC", serif;
        color: white;
        font-weight: 500;
        line-height: 3.5rem;
        font-size: 2.4rem;
        text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
        background-color: black;
        opacity: 0.8;
        width: 35rem;
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20%;
        padding: 10px;
    }

    .footer {
        margin-top: 5rem;
        width: 100%
    }

    .footer_div {
        display: flex;
        justify-content: space-evenly;
        margin-right: 20%;
        margin-left: 20%;
        
    }

    .butt_bottom {
        font-size: 1.5rem;
        font-weight: 600;
        height: 3.8rem;
        width: 8.5rem;
        font-family: "Cinzel Decorative", cursive;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hours {
        text-align: center;
        color: white;
        background: black;
        opacity: 0.8;
        padding: 5px;
        margin: 5rem 32% 0 32%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400; 
        
    }
    
    button:hover {
        background-color: black;
        color: white;
        transition-delay: 75ms;
        cursor: pointer;
    }
}
    /*----------------HEADER/NAV END ----------------------*/

